<br>
<div class="container">
  <div class="jumbotron">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Your Truck Profile</h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
    <%= link_to 'Show', @truck %> |
    <%= link_to 'Back', truck_path %>
  </div>
</div>