<br>

<div class="container">
  <div class="jumbotron">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Build Your Truck Profile</h3>
      </div>
      <div class="panel-body">
        <%= render 'form', truck: @truck %>
      </div>
    </div>

    <%= link_to 'Back', trucks_path %>
  </div>
</div>